*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: rgb(45, 45, 51); */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  perspective: 1200px;
  transform-style: preserve-3d;
}

.container {
  width: 80%;  
}


.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateX(340deg) rotateY(45deg) rotateZ(0deg);
  width: 306px;
  height: 306px;
  transform-style: preserve-3d;
  transition: transform 1s ease;
  
  
}




.box {
  width: 300px;
  height: 300px;
  background-color: #233142;
  position: absolute;
  top: 0;
  left: 0;

}


.front {
  transform: translate3d(0, 0, 150px);
  opacity: 0.6;
   animation: cube 5s infinite steps(100);
   animation-direction: alternate;
}

.back {
  transform: translate3d(0, 0, -150px) rotateY(180deg);
   animation: cube 5s infinite steps(100);
   animation-direction: alternate;
}

.left {
  transform: translate3d(-150px, 0, 0px) rotateY(-90deg);
   animation: cube 5s infinite steps(100);
  opacity:0.6;
  animation-direction: alternate;
}

.right {
  transform: translate3d(150px, 0, 0px) rotateY(90deg);
   animation: cube 5s infinite steps(100);
   animation-direction: alternate;

}

.top {
  transform: translate3d(0px, -150px, 0px) rotateX(-90deg);
  background-color: #263645;
}


.bottom {
  transform: translate3d(0px, 150px, 0px) rotateX(-90deg);
  background-color: #25A759;
  box-shadow: 0px 0px 31px 4px rgba(28, 29, 30, 1);
}
.content:hover {
  transform: translate(-50%, -70%) rotateX(340deg) rotateY(45deg) rotateZ(0deg);
  
}

.content:hover .bottom {
  box-shadow: 0px 0px 100px 30px rgba(28, 29, 30, 1);
 
}
.box {
  display: flex;
  align-items: flex-end;
}

.right::before {
  content: '';
  display: block;
  width: 100%;
  height: 10%;
  background-color: #26B460;
  animation: kube 4s infinite alternate;
}
@keyframes kube{
  0% {
    background-color: #26B460;
  } 
  100% { 
    background-color: #26B460;
    height: 100%;
  }
}
@keyframes kube1{
  0% {
    height: 100%;
  } 
  100% { 
    background-color: #26B460;
    height: 100%;
  }
}
.left::before {
  content: '';
  display: block;
  width: 100%;
  height: 10%;
  background-color: #26B460;
  animation: kube 4s infinite alternate;
}

.back::before {
  content: '';
  display: block;
  width: 100%;
  height: 10%;
  background-color: #26B460;
  animation: kube 4s infinite alternate;
}
.front::before {
    content: '';
    display: block;
    width: 100%;
    height: 10%;
    background-color: #26B460;
    animation: kube 4s infinite alternate;
}

.top::before {
  content: '';
  display: block;
  width: 100%;
  height: 0%;
  animation: kube1 4.5s infinite alternate;
}
