*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(45, 45, 51);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  perspective: 1200px;
  transform-style: preserve-3d;
}

.container {
  width: 80%;  
}


.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateX(333deg) rotateY(-45deg) rotateZ(-360deg);
  width: 306px;
  height: 306px;
  transition: all 4s ease;
  transform-style: preserve-3d;
  /* animation: cube 4s infinite ease; */
}

/* @keyframes cube {
  0% {
    transform: translate(-50%, -50%) rotateX(-40deg) rotateY(0deg) rotateZ(359deg);
  }
  25% {
    transform: translate(-50%, -50%) rotateX(-50deg) rotateY(90deg) rotateZ(359deg);
  }
  50% {
    transform: translate(-50%, -50%) rotateX(0deg) rotateY(180deg) rotateZ(359deg);
  }
  75% {
    transform: translate(-50%, -50%) rotateX(20deg) rotateY(270deg) rotateZ(359deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateX(40deg) rotateY(360deg) rotateZ(359deg);
  }
} */
.content:hover {
  transition: all 4s ease;
  height: 400px;
}
.content:hover .box {
  background-color: rgb(30, 255, 30);
  border: 2px solid #2f00ff;
  transition: all 4s ease-in;
}
.box {
  width: 300px;
  height: 300px;
  /* background-color: #87cefab4; */
  border: 2px solid #2f00ff;
  text-align: center;
  line-height: 300px;
  transition: all 4s ease-in;
  font-size: 30px;
  transition: all 4s ease-in;
  text-transform: capitalize;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  transform: translate3d(0, 0, 150px);
}
.back {
  transform: translate3d(0,0,-150px);
}  

.left {
  transform: translate3d(-150px, 0, 0px) rotateY(-90deg);
}

.right {
  transform: translate3d(150px, 0, 0px) rotateY(90deg);
}

.top {
  transform: translate3d(0px, -150px, 0px) rotateX(-90deg);
}

.bottom {
  transform: translate3d(0px, 150px, 0px) rotateX(-90deg);
  /* background-color: green; */
}